

.footer{
    background-color: #07461f;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}



}
.submit{
	color: black;
}



body {
    background-color:rgb(16, 58, 7);

}



  
  #imagen{
      position: absolute;
      width: 100px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
  }





  h1 {

    color: rgb(82, 70, 4);
    margin-left: 20px;
}
